.Rproj.user
.Rhistory
.RData
.Ruserdata
raw_data/gfw_daily/
*.Rproj
logs/
EEZ_MEOW.*
*.log
.httr-oauth
raw_data/*
vessel_tracks_baci.rds
desktop.ini
*.dropbox
reports/FFA Tuna Development Indicators Brochure.pdf reports/SC14-GN-WP-01 Overview of WCPFC Fisheries Rev 1.pdf reports/SPC Policy Brief 19 Fish Aggregating Devices.pdf reports/SPC Policy Brief 31 Sustainable National FAD Programmes.pdf reports/desktop.ini
/reports
*.Rprofile
data/vessel_tracks_2012_2013_baci.rds
data/vessel_tracks_2012_2018_baci.rds
packrat/lib/*
packrat/lib*/
/packrat*
docs/CoverLetter.docx
docs/Response to reviewers.gdoc
docs/slides/*
docs/nr-reporting-summary/*
Chris R/*
docs/CoverLetter_resub.*
docs/Response_to_reviewers.*
docs/nature_paperwork/*
*.zip
*.here
docs/old_ms/*
docs/slides/*
docs/palau_long.tex
docs/palau_purse.tex
docs/revenue_loss.tex
docs/MS_*
data/USMonuments/*
docs/img/plw_nceas/*
docs/Markets*
docs/Supplementary*
